/* clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;

  color: $secondary-text-color;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-list-icon:not(:last-child) {
  margin-right: 30px;
}
.clients-icon-link {
  transition: color $transition, border-color $transition;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $icon-color;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.icon-clients {
  fill: currentColor;
}
.clients-icon-link:hover,
.clients-icon-link:focus {
  border-color: $accent;
  color: $accent;
}
