/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: $bg-color;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.inversion {
  color: $accent;
}
.maps {
  transition: color $transition;

  color: $bg-color;

  line-height: 1.71;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .maps:hover,
// .maps:focus {
//   color: $accent;
// }
.link-footer {
  transition: color $transition;

  color: $list-address;

  line-height: 1.71;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .link-footer:hover,
// .link-footer:focus {
//   color: $accent;
// }
.list-item:not(:last-child) {
  margin-bottom: 9px;
}
