/* header */
.header {
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo-header {
  color: $black;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: $accent;
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;
  /* transition: задается на базовый класс,
   не на :hover и :focus */
  transition: color $transition;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .nav-link:hover,
// .nav-link:focus {
//   color: $accent;
// }
.site-nav .current {
  color: $accent;
}
.site-nav .current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 4px;

  background-color: $accent;
  border-radius: 2px;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-link {
  transition: color $transition;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .auth-link:hover,
// .auth-link:focus {
//   color: $accent;
// }
.icon-header {
  margin-right: 10px;

  fill: currentColor;
}
