/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo {
  color: $black;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: $accent;
}
/* site-nav */
.menu {
  display: flex;
  margin-left: 93px;

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
// .site-nav .item:not(:last-child) {
//   margin-right: 50px;
// }
.menu__link {
  position: relative;
  /* transition: задается на базовый класс,
   не на :hover и :focus */
  transition: color $transition;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .nav-link:hover,
// .nav-link:focus {
//   color: $accent;
// }
.menu .current {
  color: $accent;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 4px;

    background-color: $accent;
    border-radius: 2px;
  }
}
// .site-nav .current::after {
//   content: '';
//   position: absolute;
//   bottom: 0px;
//   left: 0px;

//   width: 100%;
//   height: 4px;

//   background-color: $accent;
//   border-radius: 2px;
// }
.nav {
  display: flex;
  align-items: center;
}
/* auth-nav */
.auth {
  display: flex;
  margin-left: auto;

  .auth__item:not(:last-child) {
    margin-right: 50px;
  }
}
// .auth-nav .item:not(:last-child) {
//   margin-right: 50px;
// }
.auth__link {
  transition: color $transition;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}
// .auth-link:hover,
// .auth-link:focus {
//   color: $accent;
// }
.auth__icon {
  margin-right: 10px;

  fill: currentColor;
}
