/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: $secondary-bg-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  /* container 1200px, максимальная ширина холста
  1600px, меньше, но не больше чем */
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  color: $bg-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  transition: background-color $transition, box-shadow $transition;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  background-color: $accent;
  color: $bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: $hover-btn;
  color: $bg-color;
}
