/* join */
.block-join {
  margin-left: 70px;
}
.join-text {
  margin-bottom: 20px;

  color: $bg-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
}
.footer-soc-icon:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-link {
  transition: background-color $transition;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $bg-color;
  background-color: rgba(255, 255, 255, 0.1);

  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icon-footer {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: $accent;
}
