.footer-block-sign-up {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.footer-label {
  display: flex;
  flex-direction: column;
}
.footer-label-title {
  margin-bottom: 20px;

  color: var(--bg-color);

  font-family: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-input {
  transition: border-color var(--transition);

  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--bg-color);
  background-color: transparent;
  border-radius: 4px;
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent);
}
.footer-input:placeholder-shown {
  font-size: 16px;
  letter-spacing: 0.03em;
}
.footer-button {
  transition: background-color var(--transition), box-shadow var(--transition);

  display: flex;
  align-items: center;
  text-align: center;

  margin-left: 12px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 28px;
  width: 200px;

  background-color: var(--accent);
  color: var(--bg-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-button-icon {
  margin-left: 10px;
}
