$primary-text-color: #757575;
$secondary-text-color: #212121;
$bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$accent: #2196f3;
$black: #000000;
$list-address: rgba(255, 255, 255, 0.6);
$hover-btn: #188ce8;
$filter-btn: #f5f4fa;
$icon-color: #afb1b8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(33, 33, 33, 0.2);
$textarea-color: rgba(117, 117, 117, 0.5);
